/*fonts*/

@font-face {
    font-family: "Rampart One";
    src: url("/font/RampartOne-Regular.ttf");
}

@font-face {
    font-family: "M PLUS Rounded 1c";
    font-weight:700;
    src: url("/font/MPLUSRounded1c-Bold.ttf");
}

@font-face {
    font-family: "M PLUS Rounded 1c";
    font-weight:400;
    src: url("/font/MPLUSRounded1c-Regular.ttf");
}